.tile_wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.product_tile {
    display: grid;
    min-height: 400px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    padding: 15px;
    background-color: #fff;
    border: 1px solid var(--bs-gray-500);
    transition-duration: .3s;

    &__picture {
        display: flex;
        position: relative;
        align-items: flex-start;
        margin-top: -30%;
        padding: 50px;
        z-index: 10;

        img {
            object-fit: contain;
        }
    }

    &__bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 20px;
        z-index: 1000;
        background-color: #fff;
        border-top: 1px solid var(--bs-gray-500);
    }

    &__price {
        width: 100%;
        font-weight: 600;
        font-size: 18px;
    }

    &__title {
        z-index: 50;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .tile_wrapper {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 960px) {
    .tile_wrapper {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 630px) {
    .tile_wrapper {
        grid-template-columns: auto;
    }
}