.header{
    display: block;
    width: 100%;
    box-shadow: 0 0 3px 1px #ced4da;
}

.header__search,
.header__search:focus,
.header__search:active,
.header__search_button,
.header__search_button:focus,
.header__search_button:active{
    box-shadow: none !important;
    border-color: var(--bs-red) !important;
    border-width: 2px;
}

.header__search{
    font-size: 15px;
}

.header__search_button{
    background-color: var(--bs-red) !important;
}

.header_row{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header_bottom_row{
    gap: 15px;
    font-size: 15px;
}

.header__brand{
    font-size: 2.5rem;
    display: block;
    width: auto;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    color: var(--bs-dark) !important;
}

.header__link_group{
    display: flex;
    gap: 10px;
    font-size: 14px;

    &>a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover{
            color: var(--bs-dark);
        }

        svg{
            height: 20px;
            width: 20px;
        }
    }
}

.header__dropdown>a,
.header__dropdown>a:hover
.header__dropdown>a:active
.header__dropdown>a:focus{
    color: var(--bs-dark) !important;
    font-size: 15px;
    padding: 0;
}