.header{
    display: block;
    width: 100%;
    box-shadow: 0 0 3px 1px #ced4da;
    background-color: #fff;

    &_row{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &_bottom_row{
        gap: 15px;
        font-size: 15px;
    }
}